{% extends "base.html" %}


{% block contenido_cambia %}

    {#buscar curso#}
    <br><hr>
    <form action="{% url 'AppCoderBuscarEstudiantes' %}">
    {{ form_busqueda.as_p }}
    <input type="submit" value="Buscar">
    </form>
    <a href="{% url "AppCoderCrearEstudiantes"%}" > Creacion del estudiante</a>
    {#ver cursos#}
    <hr><br>
    {% if estudiantes %}
        {% for estudiante in estudiantes %}
            <p>estudiante: {{ estudiante.nombre }}</p>
            <a href="{% url "AppCoderEliminarEstudiantes" estudiante.email  %}">Eliminar</a>
            <a href="{% url "AppCoderEditarEstudiantes" estudiante.email  %}">Editar</a>
        {% endfor %}
    {% else %}
        <h1>No hay estudiantes en el momento</h1>
    {% endif %}

{% endblock %}