{% extends "base.html" %}


{% block contenido_cambia %}

{# Mostrar listado #}
    <h1>Listado planes:</h1>

    {% if planes %}
        {% for plan in planes %}

            <p>{{ plan }}
                <a href=" {% url 'eliminar_plan_kinesiologia_fisioterapia' plan.id %} ">Eliminar</a>
                <a href=" {% url 'editar_plan_kinesiologia_fisioterapia' plan.id %} ">Editar</a>
                <a href=" {% url 'detalle_kinesiologia_fisioterapia' plan.id %} ">Leer mas</a>
            </p>

        {% endfor %}
    {% else %}
        <h1>No hay planes en el momento</h1>
    {% endif %}

    {# Crear en el listado #}
    <button onclick="location.href= '{% url 'crear_plan_kinesiologia_fisioterapia' %}' "  >Crear plan nuevo</button>
{% endblock %}
