{% extends "base.html" %}


{% block contenido_cambia %}

    {#buscar profesor#}
    <br><hr>
    <form action="{% url 'AppCoderBuscarProfesores' %}">
    {{ form_busqueda.as_p }}
    <input type="submit" value="Buscar">
    </form>
    <a href="{% url "AppCoderCrearProfesores"%}" > Creacion del profesor</a>
    {#ver profesores#}
    <hr><br>
    {% if profesores %}
        {% for profesor in profesores %}
            <p>profesor: {{ profesor.nombre}} {{ profesor.apellido }}</p>
            <a href="{% url "AppCoderEliminarProfesores" profesor.email  %}">Eliminar</a>
            <a href="{% url "AppCoderEditarProfesores" profesor.email %}">Editar</a>
        {% endfor %}
    {% else %}
        <h1>No hay profesores en el momento</h1>
    {% endif %}

{% endblock %}